certifi
chardet
chart-studio
click
cycler
Flask
idna
itsdangerous
Jinja2
joblib
kiwisolver
MarkupSafe
numpy
pandas
pip
plotly
pyparsing
python-dateutil
pytz
requests
retrying
scikit-learn
scipy
setuptools
six
sklearn
threadpoolctl
urllib3
utile
Werkzeug
