<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
    <meta charset="UTF-8">
    <script src="http://cdnjs.cloudflare.com/ajax/libs/waypoints/2.0.3/waypoints.min.js"></script>
    <script src="jquery.counterup.min.js"></script>

    <link rel="icon" href="https://img.icons8.com/nolan/40/geometric-flowers.png">
    <title id="site">{{page_name}} | Iris says!</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Chilanka&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{url_for('static', filename='main.css')}}">
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet">
    {% endblock %}
</head>

<body onload="activator();" style="  background-image:url({{ url_for('static', filename='images/back1.jpg') }});">
    {% block body %}
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
          <a onclick="activator();" style="font-family: 'Chilanka', cursive;" class="navbar-brand" href="{{url_for('home')}}">
                <img src="https://img.icons8.com/nolan/40/geometric-flowers.png"/>
              Iris says
          </a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="{{ url_for(request.endpoint) + '#navbarNav' }}" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li id="nav-link-about" class="nav-item pl-3">
                <a  class="nav-link" href="{{url_for('about')}}"><h3 class="lead"><strong>About</strong></h3></a>
              </li>

              <li id="nav-link-graphs" class="nav-item active pl-3">
                <a  class="nav-link" href="{{url_for('graph')}}"><h3 class="lead"><strong>Graphs</strong></h3></a>
              </li>

              <li id="nav-link-predict" class="nav-item active pl-3">
                  <a  class="nav-link" href="{{url_for('predict')}}"><h3 class="lead"><strong>Predict!</strong></h3></a>
              </li>
            </ul>
          </div>
        </nav>
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script>
        AOS.init();
    </script>
    <script>
        function activator(){
                if (document.getElementById('site').innerHTML == 'About | Iris says!'){
            document.getElementById('nav-link-about').classList.add("active");
            document.getElementById('nav-link-graphs').classList.remove("active");
            document.getElementById('nav-link-predict').classList.remove("active");
        }
                if (document.getElementById('site').innerHTML == 'Graphs | Iris says!'){
            document.getElementById('nav-link-about').classList.remove("active");
            document.getElementById('nav-link-graphs').classList.add("active");
            document.getElementById('nav-link-predict').classList.remove("active");
        }
        if (document.getElementById('site').innerHTML == 'Predict | Iris says!'){
            document.getElementById('nav-link-about').classList.remove("active");
            document.getElementById('nav-link-graphs').classList.remove("active");
            document.getElementById('nav-link-predict').classList.add("active");
        }
        if (document.getElementById('site').innerHTML == 'Home | Iris says!') {
            document.getElementById('nav-link-about').classList.remove("active");
            document.getElementById('nav-link-graphs').classList.remove("active");
            document.getElementById('nav-link-predict').classList.remove("active");
        }
        }
    </script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha256-4+XzXVhsDmqanXGHaHvgh1gMQKX40OUvDEBTu8JcmNs=" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    {% endblock %}

</body>
</html>